body {
  background-color: #1c1c1c;
}

h2 {
  color: #00ffc7;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 30px;
}

section.roadmap {
  position: relative;
  width: 100%;
  padding: 120px 0 80px 0;
  background: url("../images/client-hub/bg.jpg") top center no-repeat;
}
section.roadmap .games {
  position: relative;
  width: 1170px;
  padding: 20px 10px 30px 10px;
  margin: 0 auto;
  overflow: hidden;
}
section.roadmap .games ul li {
  position: relative;
  transition: box-shadow 0.4s, transform 0.4s;
}
section.roadmap .games ul li .tag {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
  right: -10px;
  top: -10px;
  background: url("../images/client-hub/symbol/tag.png") no-repeat;
  background-size: contain;
  color: #000;
  line-height: 1;
  padding-left: 5px;
  filter: drop-shadow(0 2px 5px #000);
}
section.roadmap .games ul li .tag strong {
  font-size: 40px;
}
section.roadmap .games ul li .tag span {
  font-weight: 600;
  font-size: 18px;
}
section.roadmap .games ul li figure {
  box-shadow: 0 1em 1.2em -1em #000;
}
section.roadmap .games ul li:hover, section.roadmap .games ul li:focus {
  box-shadow: 0 1.5em 1.2em -1em #000;
  transform: translateY(-0.5em);
}
section.roadmap .games .swiper-pagination {
  bottom: -5px;
}
section.roadmap .games .swiper-pagination span {
  background-color: #00ffc7;
  border-radius: 0;
  width: 30px;
  height: 5px;
}
section.roadmap .swiper-button-next {
  width: 35px;
  height: 35px;
  top: 60%;
  right: calc((100% - 1170px) / 2.5);
}
section.roadmap .swiper-button-next::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/client-hub/symbol/navi.svg") no-repeat;
}
section.roadmap .swiper-button-prev {
  width: 35px;
  height: 35px;
  top: 60%;
  left: calc((100% - 1170px) / 2.5);
}
section.roadmap .swiper-button-prev::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/client-hub/symbol/navi-l.svg") no-repeat;
}

.product-popup {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.product-popup .container {
  width: 600px;
  height: 420px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  padding: 20px;
  box-shadow: 0 0 25px #000;
}
.product-popup .container .close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: -40px;
  cursor: pointer;
}
.product-popup .banner {
  width: 250px;
  margin-right: 15px;
  box-shadow: 0 1em 1.2em -1em #000;
}
.product-popup .banner img.pc {
  display: block;
}
.product-popup .banner img.mb {
  display: none;
}
.product-popup .game-content {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  padding-right: 5px;
}
.product-popup .game-content::-webkit-scrollbar {
  width: 5px;
}
.product-popup .game-content::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 100vmax;
}
.product-popup .game-content ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-popup .game-content ul li {
  color: #fff;
  font-weight: 500;
  border-bottom: dashed 1px #575757;
  padding: 7px 0;
}
.product-popup .game-content ul li:nth-last-child(1) {
  border-bottom: none;
}
.product-popup .game-content ul li span {
  width: 100%;
  display: block;
  line-height: 1.2;
}
.product-popup .game-content ul li span:nth-child(2) {
  font-weight: normal;
  color: #b5b5b5;
}

section.documentation {
  background-color: #0e0e0e;
  padding: 60px 0;
}
section.documentation .all-docs {
  width: 1170px;
  margin: 0 auto;
}
section.documentation .all-docs h2 {
  color: #00ffc7;
}
section.documentation .all-docs .docs {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  justify-content: center;
}
section.documentation .all-docs .docs a {
  display: inline-block;
  padding: 10px 0;
  border: 2px solid #7a7a7a;
  border-radius: 100vmax;
  color: #7a7a7a;
  text-align: center;
  transition: all 0.25s;
}
section.documentation .all-docs .docs a:hover, section.documentation .all-docs .docs a:focus {
  color: #0e0e0e;
  box-shadow: inset 0 0 0 2em #7a7a7a;
  border-color: transparent;
}

section.support-materials {
  padding: 60px 0 40px 0;
}
section.support-materials .docs-download-area {
  width: 1170px;
  margin: 0 auto;
}
section.support-materials .docs-download-area .filter-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #00ffc7;
  border-bottom: 2px solid #00ffc7;
  padding: 20px 0;
}
section.support-materials .docs-download-area .filter-search-bar .filter {
  display: flex;
  padding-top: 5px;
}
section.support-materials .docs-download-area .filter-search-bar .filter .select-option {
  color: #fff;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  border-radius: 100vmax;
  padding: 0.2em 0.8em;
  margin-right: 8px;
  line-height: 1.8;
  cursor: pointer;
}
section.support-materials .docs-download-area .filter-search-bar .filter .select-option.active {
  border: none;
  background-color: #00ffc7;
  color: #1c1c1c;
  font-weight: 500;
}
section.support-materials .docs-download-area .filter-search-bar .filter span {
  color: #00ffc7;
  margin-right: 10px;
}
section.support-materials .docs-download-area .filter-search-bar .search-input {
  position: relative;
}
section.support-materials .docs-download-area .filter-search-bar .search-input input {
  background-color: transparent;
  outline: none;
  border: 2px solid #7a7a7a;
  border-radius: 100vmax;
  padding: 5px 28px 5px 10px;
  color: #00ffc7;
}
section.support-materials .docs-download-area .filter-search-bar .search-input .search-btn {
  position: absolute;
  right: 6px;
  border: none;
  outline: 0;
  width: 22px;
  height: 100%;
  background: url("../images/game/symbol/search.svg") no-repeat;
  background-size: 22px 22px;
  background-position: 96% 50%;
  cursor: pointer;
}
section.support-materials .docs-download-area .each-docs-download {
  padding: 15px 0;
}
section.support-materials .docs-download-area .each-docs-download li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
section.support-materials .docs-download-area .each-docs-download li span {
  color: #fff;
  display: block;
}
section.support-materials .docs-download-area .each-docs-download li span.docs-name {
  white-space: nowrap;
  margin-right: 10px;
}
section.support-materials .docs-download-area .each-docs-download li span.dashed {
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent 0%, transparent 50%, #575757 50%, #575757 100%);
  background-size: 5px 1px;
  background-repeat: repeat-x;
  margin-right: 10px;
}
section.support-materials .docs-download-area .each-docs-download li span.download-icon {
  width: 28px;
  height: 28px;
  background: url("../images/client-hub/symbol/download.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
  flex-shrink: 0;
  transition: opacity 0.3s;
}
section.support-materials .docs-download-area .each-docs-download li span.download-icon:hover {
  opacity: 0.5;
}

footer {
  background-color: #1c1c1c;
}

.a-letter {
  position: fixed;
  display: grid;
  place-content: center;
  right: 2%;
  bottom: 130px;
  width: 50px;
  height: 50px;
  border: 2px solid #00ffc7;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
}
.a-letter p {
  color: #00ffc7;
  font-size: 18px;
}
.a-letter:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1600px) {
  section.roadmap .swiper-button-next {
    top: 60%;
    right: calc((100% - 1170px) / 4);
  }
  section.roadmap .swiper-button-prev {
    top: 60%;
    left: calc((100% - 1170px) / 4);
  }
}
@media screen and (max-width: 1300px) {
  section.roadmap .swiper-button-next {
    top: 60%;
    right: 0.5%;
  }
  section.roadmap .swiper-button-prev {
    top: 60%;
    left: 0.5%;
  }
}
@media screen and (max-width: 1200px) {
  section.roadmap .games {
    width: 90%;
  }
  section.documentation .all-docs {
    width: 100%;
  }
  section.support-materials .docs-download-area {
    width: 100%;
    padding: 0 3%;
  }
}
@media screen and (max-width: 960px) {
  section.support-materials .docs-download-area .filter-search-bar .filter .select-option {
    font-size: 14px;
    padding: 0.2em 0.6em;
  }
}
@media screen and (max-width: 767px) {
  section.roadmap {
    padding: 80px 0 40px 0;
  }
  section.roadmap .games ul li .tag {
    width: 60px;
    height: 60px;
    top: -7px;
  }
  section.roadmap .games ul li .tag strong {
    font-size: 32px;
  }
  section.roadmap .games ul li .tag span {
    font-size: 16px;
  }
  section.roadmap .swiper-button-next, section.roadmap .swiper-button-prev {
    display: none;
  }
  .product-popup .container {
    width: 100%;
    height: 560px;
    flex-direction: column;
    margin: 0 20px;
  }
  .product-popup .container .banner {
    width: 212px;
    margin: 10px 0 30px 0;
  }
  .product-popup .container .banner img.pc {
    display: none;
  }
  .product-popup .container .banner img.mb {
    display: block;
  }
  .product-popup .container .game-content {
    width: 100%;
  }
  .product-popup .container .game-content ul {
    text-align: center;
  }
  section.documentation .all-docs .docs {
    grid-template-columns: 1fr;
    padding: 0 5%;
  }
  section.documentation .all-docs .docs a {
    padding: 15px 0;
  }
  section.support-materials {
    padding: 40px 0 0px 0;
  }
  section.support-materials .docs-download-area .filter-search-bar {
    flex-direction: column;
    padding: 20px 0;
    line-height: 1.5;
  }
  section.support-materials .docs-download-area .filter-search-bar .filter {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  section.support-materials .docs-download-area .filter-search-bar .filter .select-option {
    margin-bottom: 10px;
    padding: 0.25em 0.8em;
  }
  section.support-materials .docs-download-area .filter-search-bar .search-input {
    width: 100%;
  }
  section.support-materials .docs-download-area .filter-search-bar .search-input input {
    width: 100%;
    padding: 10px 28px 10px 10px;
    font-size: 16px;
  }
  section.support-materials .docs-download-area .filter-search-bar .search-input .search-btn {
    right: 10px;
  }
  .a-letter {
    opacity: 0.2;
  }
}
@media screen and (max-width: 320px) {
  section.support-materials .docs-download-area .each-docs-download li span {
    font-size: 14px;
  }
}/*# sourceMappingURL=client.css.map */